*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

p{
    background-image: linear-gradient(to left bottom, #fbb040, #ef4136);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}