@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
*{
  margin:0;
  padding:0;
}

body{
    background-color: antiquewhite;
    font-family: 'Pushster', cursive;
}

nav{
    background-color:rgb(240, 59, 95);
    font-size: 23px;
}

.a img{
  /* Image */
  height: 10rem;
  width: 10rem;
  border: 3px solid rgb(240, 59, 95);
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}