@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
*{
  margin:0;
  padding:0;
}



body{
    background-color: antiquewhite;
    font-family: 'Pushster', cursive;
}

nav{
    width: fit-content;
    background-image:  linear-gradient(to left bottom, #fbb040, #ef4136);
    -webkit-background-clip: text;
    background-clip: text;    /* Compatiblity */
    -webkit-text-fill-color: transparent;
    font-size: 36px;
}

.redirect {
    align-items: center;
    justify-content: center;
}

.redirect img{
    /* Image */
    height: 10rem;
    width: 10rem;
    border: 3px solid rgb(240, 59, 95);
    border-radius: 50px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}


.redirect h2{
    /* Text */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Imperial Script', cursive;
    color: blue;
}

ul{
    font-size: 34px;
    text-align: center;
    justify-content: center;
    list-style-type:none;
    margin-left: auto;
    margin-right: auto;
	
}
ul li a{
	text-decoration:none;
	color:black;
	transition:0.6s ease;
}
ul li a:hover{
	background-color:black;
	color:white;
}
ul li.active a{
	background-color:black;
	color:white;
}
